<form>
  <div class="feature">
    <div class="feature__box-left">
      <mat-form-field appearance="fill">
        <mat-label>Легковые</mat-label>
        <mat-select [(ngModel)]="selectedTransport" name="transport">
          <mat-option *ngFor="let transport of transports" [value]="transport.value">
            {{transport.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Марка</mat-label>
        <mat-select [(ngModel)]="selectedCar" name="car">
          <mat-option *ngFor="let car of cars" [value]="car.value">
            {{car.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Модель</mat-label>
        <mat-select [(ngModel)]="selectedCar" name="model">
          <mat-option *ngFor="let car of cars" [value]="car.value">
            {{car.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="feature__box-right">
      <div class="flex-block">
      <h3>Регион</h3>
      <mat-form-field appearance="fill">
        <mat-label>Регион</mat-label>
        <mat-select [(ngModel)]="selectedRegion" name="region">
          <mat-option *ngFor="let region of regions" [value]="region.value">
            {{region.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      </div>

    <div class="years flex-block">
      <h3>Год</h3>
      <mat-form-field appearance="fill" class="of">
        <mat-label>От</mat-label>
        <mat-select disableRipple>
          <mat-option value="1">2020</mat-option>
          <mat-option value="2">2019</mat-option>
          <mat-option value="3">2018</mat-option>
          <mat-option value="4">2017</mat-option>
          <mat-option value="5">2016</mat-option>
          <mat-option value="6">2015</mat-option>
          <mat-option value="7">2014</mat-option>
          <mat-option value="8">2013</mat-option>
          <mat-option value="9">2012</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>До</mat-label>
        <mat-select disableRipple>
          <mat-option value="1">2020</mat-option>
          <mat-option value="2">2019</mat-option>
          <mat-option value="3">2018</mat-option>
          <mat-option value="4">2017</mat-option>
          <mat-option value="5">2016</mat-option>
          <mat-option value="6">2015</mat-option>
          <mat-option value="7">2014</mat-option>
          <mat-option value="8">2013</mat-option>
          <mat-option value="9">2012</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="flex-block">
      <h3>Цена, $</h3>
      <mat-form-field appearance="fill" class="example-full-width price">
        <input matInput type="text" placeholder="От">
      </mat-form-field>

      <mat-form-field appearance="fill" class="example-full-width">
        <input matInput type="text" placeholder="До">
      </mat-form-field>
    </div>
    </div>
  </div>
<!--  <mat-form-field appearance="fill">-->
<!--    <mat-label>Сообщение</mat-label>-->
<!--    <textarea matInput></textarea>-->
<!--  </mat-form-field>-->
  <div class="btn-block">
    <div class="example-button-row" routerLink="/extended">
      <button mat-raised-button color="basic">Расширенный поиск</button>
    </div>

    <div class="example-button-row">
      <button mat-raised-button color="primary">ОБМЕН</button>
    </div>
  </div>

  <mat-progress-bar mode="indeterminate" class="progress-bar"></mat-progress-bar>

</form>
