td:first-child {
  background: #c1c1c1;
  padding: 10px 20px;
}

th, td {
  border-style: solid;
  border-width: 0 10px 10px 0;
  border-color: white;
}

td {
  background: #f5f5f5;
}

.btn-form {
  background: #fff !important;
}






