.app-wrapper {
  display: grid;
  grid-template-areas:
    "bl c";
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  height: 100%;
}

.sidebar {
  grid-area: bl;
  background: linear-gradient(to top, #c31432, #240b36);
  color: #fff;
  min-height: 650px;

  h2 {
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
  }

  ul {
    font-size: 20px;

    li {
      list-style: none;
      padding-bottom: 20px;

      a {
        color: #fff;
        padding-bottom: 10px;
      }
    }
  }
}

.content {
  display: grid;
  grid-area: c;
}
