.app-wrapper {
  display: grid;
  grid-template-areas:
    "h h h"
    "bl c br"
    "f f f";
  grid-template-rows: 100px 1fr 100px;
  grid-template-columns: 3fr 6fr 3fr;
  grid-gap: 5px;
}

app-header {
  display: grid;
  grid-area: h;
  background: blue;
}

app-sidebar {
  display: grid;
  grid-area: bl;
  background: red;
}

.sidebar-right {
  display: grid;
  grid-area: br;
  background: purple;
}

.content {
  display: grid;
  grid-area: c;
  background: yellow;
}

.footer {
  display: grid;
  grid-area: f;
  background: green;
}
