.app-wrapper {
  display: grid;
  grid-template-areas:
    "h h h"
    "bl c br"
    "f f f";
  grid-template-rows: 100px 1fr 100px;
  grid-template-columns: 2fr 7fr 3fr;
  grid-gap: 10px;
}

app-header {
  display: grid;
  grid-area: h;
  background: #3f51b5;
}

app-sidebar {
  display: grid;
  grid-area: bl;
  background: #3f51b5;
}

app-sidebar-right {
  display: grid;
  grid-area: br;
  background: #3f51b5;
}

app-content {
  display: grid;
  grid-area: c;
  background: yellow;
}

app-footer {
  display: grid;
  grid-area: f;
  background: green;
}
