.navbar {
  background: linear-gradient(to left, #c31432, #240b36);

  .navbar-brand {
    font-size: 30px;
  }
  .navbar-user {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 16px;

    mat-icon {
      font-size: 40px;
      margin-right: 10px;
      height: 40px;
      width: 40px;
    }
    .user-name {
      font-size: 22px;
      margin-bottom: 0;
      padding: .5rem 1rem;
    }
    button {
      outline: none;
    }
    .nav-item {
      color: #fff;
    }
  }
}
