<!-- nav -->
<nav class="navbar navbar-dark" *ngIf="user">
  <div class="navbar-nav">
    <a class="navbar-brand" routerLink="/">Online Store</a>
  </div>
    <div class="navbar-user">
      <mat-icon>account_circle</mat-icon>
      <button mat-button [matMenuTriggerFor]="menu" class="user-name">
       {{user.firstName}}
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Личный кабинет</button>
        <button mat-menu-item class="nav-item nav-link" (click)="logout()">Выход</button>
      </mat-menu>
    </div>
</nav>

<!-- main app container -->
<div class="app-container">
  <app-alert></app-alert>
    <router-outlet></router-outlet>
</div>
