<h1>Мои объявления</h1>

<div class="box">
  <div class="card-auto">
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="1"></mat-radio-button>
    </mat-radio-group>

    <mat-card class="example-card">
      <img mat-card-image src="assets/img/maserati-levante.jpg" alt="Maserati Levante">
      <mat-card-content>
        <ul class="info">
          <li class="info-title"><span>Maserati Levante</span></li>
          <li><span class="year">2017</span></li>
          <li><span class="town">Харьков</span></li>
          <li><span class="price">35 916 $</span></li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="card-auto">
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="2"></mat-radio-button>
    </mat-radio-group>

    <mat-card class="example-card">
      <img mat-card-image src="assets/img/maserati.jpg" alt="Maserati">
      <mat-card-content>
        <ul class="info">
          <li class="info-title"><span>Maserati</span></li>
          <li><span class="year">2016</span></li>
          <li><span class="town">Одесса</span></li>
          <li><span class="price">50 508 $</span></li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="card-auto">
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="3"></mat-radio-button>
    </mat-radio-group>

    <mat-card class="example-card">
      <img mat-card-image src="assets/img/pininfarina-maserati.jpg" alt="Maserati">
      <mat-card-content>
        <ul class="info">
          <li class="info-title">
            <span>Maserati</span>
          </li>
          <li><span class="year">2019</span></li>
          <li><span class="town">Киев</span></li>
          <li><span class="price">95 650 $</span></li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</div>
