<div class="app-wrapper">
  <section class="sidebar">
    <h2>Catalog</h2>
    <ul>
      <li>
        <span class="tel"></span>
        <a routerLink="/telephone">Smartphones</a>
      </li>
      <li>
        <span class="tv"></span>
        <a routerLink="/tv">TVs</a>
      </li>
      <li>
        <span class="audio"></span>
        <a routerLink="/audio">Audio</a>
      </li>
      <li>
        <span class="trans"></span>
        <a routerLink="/transport">Personal transport</a>
      </li>
      <li>
        <span class="laptops"></span>
        <a routerLink="/laptops">Laptops</a>
      </li>
      <li>
        <span class="gaming"></span>
        <a routerLink="/gaming">Gaming</a>
      </li>
      <li>
        <span class="watch"></span>
        <a routerLink="/smart-watch">Smart-watch</a>
      </li>
    </ul>
  </section>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

</div>
