.app-wrapper {
  display: grid;
  grid-template-areas:
    "bl c";
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  //height: 90vh;
}

.sidebar {
  grid-area: bl;

  h2 {
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
  }

  ul {
    font-size: 20px;

    li {
      list-style: none;
      padding-bottom: 20px;

      a {
        color: #000;
        padding-bottom: 10px;
      }
      .tel:before {
        content: "\1F4F1";
        padding-right: 15px;
      }
      .tv:before {
        content: "\1F4FA";
        padding-right: 10px;
      }
      .audio:before {
        content: "\1F3A7";
        padding-right: 10px;
      }
      .trans:before {
        content: "\1F6F4";
        padding-right: 10px;
      }
      .laptops:before {
        content: "\1F4BB";
        padding-right: 10px;
      }
      .gaming:before {
        content: "\1F579";
        padding-right: 10px;
      }
      .watch:before {
        content: "\231A";
        padding-right: 10px;
      }
    }
  }

  .example-button-row {
    display: flex;
    flex-direction: column;
    margin-top: 15px;

    button {
      outline: none;
      margin: 5px;
    }
  }
}

.content {
  //display: grid;
  grid-area: c;
}
