<!--<div class="p-4">-->
<!--    <div class="container">-->
<!--        <h1>Hi {{user.firstName}}!</h1>-->
<!--        <p>You're logged in with Angular 10!!</p>-->
<!--        <p><a routerLink="/users">Manage Users</a></p>-->
<!--    </div>-->
<!--</div>-->
<div class="app-wrapper">
  <section class="sidebar">
    <div class="example-button-row">
      <button mat-raised-button color="basic">Auto.Ria</button>
<!--      <button mat-raised-button color="basic">RST</button>-->
    </div>
  </section>

  <div class="content">
    <app-content></app-content>
  </div>

<div class="sidebar-right">
  <app-card-auto></app-card-auto>
</div>

  <footer class="footer">
    <p>Footer</p>
  </footer>

</div>
